.btn-register {
  background-color: #524164;
  color: #fff;
  border: 1px solid #524164;
}

.btn-register:hover {
  background: transparent;
  color: #524164;
  transition-duration: 0.5s ease;
}

h4 {
  font-family: "Montserrat";
}
