<div class="d-flex justify-content-center align-items-center h-75 mt-4">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="container border rounded col-sm-6 col-lg-3 py-5 px-4"
  >
    <h4 class="text-center mb-4">Register</h4>
    <p *ngIf="registerError" class="alert alert-danger py-2">
      {{ registerError }}
    </p>

    <div class="form-outline mb-4">
      <label class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        formControlName="email"
      />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        formControlName="password"
      />
    </div>

    <button class="btn btn-register mb-4 w-100" type="submit">Register</button>

    <div class="text-center">
      <p>Already registered? <a routerLink="/login">Log in</a></p>
    </div>
  </form>
</div>
