<div class="d-flex justify-content-center align-items-center h-75 mt-4">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="container border rounded col-sm-6 col-lg-3 py-5 px-4"
  >
    <h4 class="text-center mb-4">Log in</h4>
    <p *ngIf="loginError" class="alert alert-danger py-2">{{ loginError }}</p>
    <div class="form-outline mb-4">
      <label class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        formControlName="email"
      />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        formControlName="password"
      />
    </div>

    <button type="submit" class="btn btn-login mb-4 w-100">Log in</button>

    <div class="text-center">
      <p>Not a member yet? <a routerLink="/register">Register</a></p>
      <p>or sign up with:</p>

      <button
        type="button"
        class="btn btn-link btn-login rounded-circle btn-floating mx-1"
        (click)="onClickGoogle()"
      >
        <i class="fab fa-google"></i>
      </button>

      <button
        type="button"
        class="btn btn-login rounded-circle btn-floating mx-1"
        (click)="onClickGithub()"
      >
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
</div>
